* {
	box-sizing: border-box;
}

.page-wrap {
	max-width: 840px;
	width: 100%;
	margin: 20px auto;
	padding: 10px;
}

.content {
  display: flex;
  flex-direction: row;
}

#datatable {
	display: table;
	border-collapse: collapse;
	width: 100%;
	border: 1px solid #dedede;
}

#datatable td, th {
	padding: 10px;
	border: 1px solid #dedede;
}

tr:nth-child(even) {background-color: #dedede;}