body, html {
    margin: 0px;
    width: auto !important;
    width: 100%;
}

* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

a {
    color: lightblue;
}

h1 {
    font-size: 4em;
}

h1, h2 {
    margin: 0 0 10px 0;
}

.page-wrap {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
}

.main-story {
    position: relative;
    margin: 0 0 25px 0;
}

.story-intro {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    color: white;
}

.story-intro h1 {
    font-size: 2.5em;
}

.story-intro p {
    margin: 0;
}

.sub-stories {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    align-items: center;
    justify-content: center;
}

.sub-story {
    width: 100%;
    max-width: 250px;
    position: relative;
    font-size: 80%;
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    
    .story-intro {
        padding: 10px;
    }

    h1 {
        font-size: 3em;
    }
}  

@media only screen and (max-width: 360px) {
    
    .main-story {
        margin-top: 10px;
    }

    .main-story > .story-intro {
        padding: 10px;
        height: 100%;
    }

    .story-intro h1 {
        font-size: 24px;
    }

    .story-intro h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 255px) {

    .story-intro h1 {
        font-size: 20px;
    }
}


