* {
    box-sizing: border-box;
}

.page-wrap {
    width: 100%;
    max-width: 840px;
    margin: 20px auto;
    padding: 10px;
}

.content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    margin-top: 10px;
}

.description img {
    width: 360px;
}

img {
    display: block;
}

p {
    margin: 0px;
}

.card {
    width:360px;
    height: 460px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
}

.circle-image {
    border-radius: 50%;
    width: 64px; 
    height: 64px;
}

.arrow-image {
    position: absolute;
    top: 18.3%; 
    left: 27.8%
}

.absolute {
    position: absolute;
}

.left {
    left: 5.6%
}

.right {
    right: 6.1%
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.light-roboto {
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
}

.regular-roboto {
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;
}

.medium-roboto {
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
}

.project-name {
    color: #999999; 
    font-size: 10px; 
    line-height: 11px; 
}

.project-description {
    border: 1px solid #A4B3C2;
    border-radius: 3px; 
    color: #4A6785;
    font-size: 11px; 
    width: 113px; 
    text-align: center; 
    margin: 0px; 
    margin-top: 4%;
    padding: 0.4% 1.4% 0.2% 1.4%;
}

.right .project-description {
    border: 1px solid #FFE9A8;
    color: #594300;
}

.paragraph p:first-child  {
    margin: 0px; 
    font-size: 20px; 
    line-height: 24px; 
    color: #333333; 
}

.paragraph p:nth-child(2) {
    color: #333333;  
    font-size: 14px; 
    line-height: 20px; 
    margin: 0px;
    margin-top: 2.2%; 
    max-width: 322px;
}

.help-link {
    color: #3572B0; 
    font-size: 14px; 
    line-height: 16px; 
}

.blue-button {
    background-color: #3572B0; 
    color: white; 
    border-radius: 3px; 
    font-size: 14px; 
    border: none; 
    padding: 7px 14px;
}

@media only screen and (max-width: 730px) {
    
    section {
        display: flex;
        margin: 0px auto;
        flex-direction: column;
    }

    section > img {
        margin: 0px auto;
    }
}




/* style for flex layout */
.flex-card {
    min-width: 360px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-column {
    display: flex;
    flex-direction: column;
}

.row > div:nth-child(2) .project-description {
    border: 1px solid #FFE9A8;
    color: #594300;
}

.row-column p:nth-child(1) {
    margin: 0px; 
    font-size: 20px; 
    line-height: 24px; 
    color: #333333; 
}

.row-column p:nth-child(2) {
    color: #333333;  
    font-size: 14px; 
    line-height: 20px; 
    margin: 0px;
    margin-top: 2.2%; 
    max-width: 322px;
}